juste-prix/bin/start/Jeu.class
juste-prix/bin/tools/Calculator3000.class
juste-prix/bin/tools/EntreeClavier.class
juste-prix/bin/verif/Verification.class
juste-prix/.project
juste-prix/.settings/org.eclipse.jdt.core.prefs
juste-prix/.classpath
